<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.jun.mapper.ReviewMapper">
	<insert id="insertReviewInfo" parameterType="com.project.jun.domain.ReviewInfo">
		INSERT INTO reviewinfo(review_content, post_no) VALUES(#{review_content}, #{post_no})
	</insert>
	
	<select id="selectALLReviewInfo" resultType="com.project.jun.domain.ReviewInfo">
		SELECT * FROM reviewinfo
	</select>
	
	<select id="selectReviewInfoByReviewNo" parameterType="int" resultType="com.project.jun.domain.ReviewInfo">
		SELECT * FROM reviewinfo WHERE review_no=#{review_no}
	</select>
	
	<update id="updateReviewInfoByReviewNo" parameterType="com.project.jun.domain.ReviewInfo">
		UPDATE reviewinfo SET review_content=#{review_content} WHERE review_no=#{review_no}
	</update>
	
	<delete id="deleteReviewInfoByReviewNo" parameterType="int">
		DELETE FROM reviewinfo WHERE review_no=#{review_no}
	</delete>
	
</mapper>